<form class="form-horizonal">
	<input ng-model="pet.name" type="text" class='form-control' placeholder='name'>
	<input ng-model="pet.age" type="text" class='form-control' placeholder='age'>
	<input ng-model="pet.kind" type="text" class='form-control' placeholder='species'>
	<input ng-model="pet.variety" type="text" class='form-control' placeholder='breed'>
	<input ng-model="pet.gender" type="text" class='form-control' placeholder='gender'>
	<input ng-model="pet.description" type="text" class='form-control' placeholder='description'>
	<button ng-click="abandon(pet)">Abandon</button>
</form>